.mine_btn{ position: absolute; top: 0.45rem; left: 0; bottom: 0; right: 0; background: #ffee00;}
.mine{position: relative; width: 2.0rem; height: 0.6rem; border-radius: 0.6rem; margin: 0 auto;  margin-top: 0.5rem; border: 1px solid #e5e5e5;}
.mine_list{width: 1.0rem; text-align: center; line-height: 0.6rem; font-size: 0.18rem; color: #333; border-radius: 0.6rem; height: 100%; border-right: 1px solid #e5e5e5;}
.mine_menu{position: absolute; height: 100%; width: 1.0rem; left: 1.0rem; top: 0; font-size: 0.14rem; display: flex; justify-content: center; flex-direction: column;}




